<div class="center-block">
    <div class="container">
<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers  !</h1>
<p class="text-right">CopyRight Infratop.inc</p>
</div>
</div>